/* picker css */
.spContainer {
	position: relative;
}

.spContainer, .sliders {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.spContainer .pointer {
	position: absolute;
	width:8px;
	height:8px;
	background-color: #000;
	border-radius: 8px;
	tranform: translate3d(0,0,0); 
}

.spColor .pointer {
	z-index:9000; 
}

.spContainer.vertical .pointer {
	opacity: 0.4;
	width: 80%;
	height: 4px;
}

.spContainer.horizontal .pointer  {
	opacity: 0.4;
	width: 4px;
	height: 80%;
}

.spPreview
{
	width: 50px;
	height: 50px;
}

/* custom */
body {
	font-size:13px;
	font-family: Verdana;
}

h1 {
	font-size: 1.4em;
	margin-top:0;
}

.box {
	background-color: #4A4646;
	border: 2px solid #B3ACAC;
	color: #D0D0D0;
	margin: 1em;
	padding: 2em;
}

.styled .picker {
	position: relative;
	border: 4px inset #796C6C;
	height: 200px;
	width:430px;
}

.styled .sl {
	border-right: 5px ridge #796C6C;
	height: 200px;
}
.styled .hue {
	height: 200px;
	position: absolute;
	top: 0px;
	left: 355px;
}

.styled .controls
{
	border: 4px inset #796C6C;
	padding: 2px;
	width: 426px;
	position: relative;
	margin-top: 10px;
}

.styled .sliders .rgb, .styled .sliders .hsl
{
	border: 2px groove #796C6C;
	padding: 5px;
	margin-bottom: 0.25em;
	width: 250px;
}

.styled .sliders {
	vertical-align: top;
}

.styled .sliders input {
	width: 165px;
	padding:.5em;
	padding-top:0;
}

.styled .label
{
	width: 6em;
	min-width: 6em;
	text-align: right;
	padding-right: 8px;
	float: left;
	font-size: 12px;
	font-family: sans-serif;
	clear:left;
}


.styled .spPreview
{
	width: 145px;
	height: 90%;
	border: 2px inset #796C6C;
	left: 275px;
	top:2.5%;
	position: absolute;
}

.styled .spColor .pointer {
	background-color: rgba(255, 255, 255, 0.15) !important;
	width:26px;
	height:26px;
	border-radius: 15px;
	border:3px solid;
	border-color: rgb(127, 13, 13) !important;
	box-sizing: border-box;
}

.styled .spSlider .pointer {
	background-color:#fff;
	border-radius: 0;
	box-sizing: border-box;
	width:100%;
	opacity:0.4;
	height: 8px;
	border: 2px solid #000;
	border-width: 2px 0;
}

.styled .input {
	padding: 4px;
	font-size: 0.9em;
}

.styled .input .hsl
{
	background-color: #000;
	color: #00FF00;
	text-align: center;
	width: 8em;
}
.styled .input .rgb
{
	background-color: #000;
	color: #00FF00;
	text-align: center;
	width: 5.5em;
}